<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}BeatMachine{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('resources/css/bootstrap.min.css') }}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('resources/css/bootstrap-theme.min.css') }}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- /Bootstrap -->

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/playbar.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/header.css') }}">

        {% block stylesheets %}
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('resources/JavaScript/jquery.min.js') }}"></script>
        <!-- Latest compiled and minified JavaScript for bootstrap -->
        <script src="{{ asset('resources/JavaScript/bootstrap.min.js') }}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!--Soundcloud integration scripts-->
        <script type="text/javascript" src="{{ asset('resources/JavaScript/sc_api.js') }}"></script>

        <!--Our JS -->
        <script type="text/javascript" src={{ asset('resources/JavaScript/PlaybarScript.js') }}></script>
    </head>

    <body>
        {% block header %}
            <div class=".container-fluid header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2 location pull-left">
                        <img class="icon" src="{{ asset('resources/images/location.png') }}">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <span>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.location }}<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/">My Location</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Bristol, UK">Bristol</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=London, UK">London</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Manchester, UK">Manchester</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Paris, UK">Paris</a></li>
                                        </ul>
                                    </li>
                            </span>
                        {% else %}
                            <span>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bath, UK<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/">My Location</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Bristol, UK">Bristol</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=London, UK">London</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Manchester, UK">Manchester</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/?loc=Paris, UK">Paris</a></li>
                                        </ul>
                                    </li>
                            </span>
                        {% endif %}
                    </div>

                    <div class="title col-md-6"><a href="/">BEAT MACHINE</a></div>

                    <div class="loginbuttons col-md-2">
                        <ul  class="pull-right">
                            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class="createPlaylistButton" href="/createPlaylist">
                                    <li>
                                        <div class="createPlaylistButtonIcon" ></div>
                                        <div class="createPlaylistButtonText">Create Playlist</div>
                                    </li>
                                </a>
                            {% endif %}#}

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="/createPlaylist"><button type="button" class="btn btn-warning btn-circle glyphicon glyphicon-plus"></button></a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="usericon" class="glyphicon glyphicon-user
"></span>  Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li style="padding-right: 20px;"><a href="/createPlaylist">Create Playlist</a></li>
                                        <li><a href="/profile?id={{ app.user.id }}"><i class="icon-cog"></i> Profile</a></li>
                                        <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="/register"><button type="button" class="btn btn-wireframe">Register</button></a></li>
                                <li><a href="/login"><button type="button" class="btn btn-wireframe">Log in</button></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div id="body" class="container" style="margin-bottom: 210px">
            {% block body %}Empty body{% endblock %}
        </div>

        {% block playbar %}

            <div class="playbar">
                <div style="width: 100%; position: absolute;" >
                    <!--<img src="http://upload.wikimedia.org/wikipedia/en/2/24/Lenna.png" style="width: 40px; height: 40px; position: absolute; left: 50%; margin-left:-215px; margin-top: -40px; " />
                    <img src="http://upload.wikimedia.org/wikipedia/en/2/24/Lenna.png" style="width: 40px; height: 40px; position: absolute; left: 50%; margin-left:175px; margin-top: -40px; " />-->
                    <img id="playbarIconB2" src="{{ asset('resources/images/default_art.png') }}" style="width: 70px; height: 70px; position: absolute; left: 50%; margin-left:-200px; margin-top: -70px; " />
                    <img id="playbarIconF2" src="{{ asset('resources/images/default_art.png') }}" style="width: 70px; height: 70px; position: absolute; left: 50%; margin-left:130px; margin-top: -70px; " />
                    <img id="playbarIconB1" src="{{ asset('resources/images/default_art.png') }}" style="width: 90px; height: 90px; position: absolute; left: 50%; margin-left:-140px; margin-top: -90px; " />
                    <img id="playbarIconF1" src="{{ asset('resources/images/default_art.png') }}" style="width: 90px; height: 90px; position: absolute; left: 50%; margin-left:50px; margin-top: -90px; " />
                    <img id="playbarIcon0" src="{{ asset('resources/images/default_art.png') }}" style="width: 130px; height: 130px; position: absolute; left: 50%; margin-left:-65px; margin-top: -110px; border: 10px solid #2f364a;" />
                </div>
                <div class="playBarSubContainer">
                    <div class="controlSection">
                        <div class="buttons">
                            <button class="navigateButton left" onclick="playBar.playPrevSong();"><span class="glyphicon glyphicon-backward"></span></button>
                            <button class="playPauseButton" onclick="playBar.togglePlay(); //document.body.focus();"><span id="playPauseIcon" class="glyphicon glyphicon-play"></span></button>
                            <button class="navigateButton right" onclick="playBar.playNextSong();"><span class="glyphicon glyphicon-forward"></span></button>
                        </div>
                    </div>
                    <div class="barSection">
                        <canvas id="progressBar" width="400" height="16"></canvas>
                        <div id="songTitleLabel">Now Playing: </div>
                    </div>
                </div>

                <iframe style="display:none;" id="so" src="http://w.soundcloud.com/player/?url="></iframe>
                <div id="player"></div>
            </div>
        {% endblock %}

        <!-- To be overidden -->
        {% block javascripts %}{% endblock %}
    </body>
</html>