{% extends 'base.html.twig' %}



{% block title %}Beat Machine - Feed{% endblock %}


{% block body %}
    <div class="feed">
        {% for playlist in playlists %}
        <div class="playlist">
            <img class="album-art" src="{{ playlist.getArtLink }}">
            <h class="playlist-title">
                <a href="/playlist?id={{ playlist.getId }}">{{ playlist.getName }}</a>
            </h>

            {% set a = loop.index0 %}

            {% for url in songLinks[a] %}
                <img class="songIcon" src="{{ url }}">
            {%  endfor %}

            <div class="playlist-info-box">
                <div class="playlist-heartButton"></div>
                <div class="playlist-likeCount">
                    {{ playlist.getVotes }}
                </div>
                <div class="playlist-shareButton">
                    Share
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        window.onload = function(){
            window.onscroll = requestNextPlaylist;
            requestNextPlaylist();
            document.body.onclick = checkIfHeartClicked;
        };

        var waitingForData = false;
        function requestNextPlaylist() {
            if((window.innerHeight + window.scrollY) >= document.body.offsetHeight && !waitingForData) {
                //Make an AJAX call
                xhttp = new XMLHttpRequest();
                var data = "testing";
                xhttp.open("GET", "{{ path('requestNextPlaylistForFeed') }}", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send('items=' + (data));

                waitingForData = true;

                //Process the returned data
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var playlistResponse = JSON.parse(xhttp.responseText);
                        waitingForData = false;

                        //Append this new playlist to the feed
                        appendNewPlaylist(playlistResponse.name, playlistResponse.art, playlistResponse.likeCount, playlistResponse.songs);

                        //Request another playlist
                        requestNextPlaylist();
                    }
                }
            }
        }

        function appendNewPlaylist(playlistName, playlistArt, numLikes, songArtArray){

            var newPlaylist = document.createElement("div");
            newPlaylist.className = "playlist";
            newPlaylist.innerHTML = "<img class=\"album-art\" src=\"resources\/images\/album-art\/" + playlistArt + "\">\r\n\t\t\t<h class=\"playlist-title\">\r\n\t\t\t" + "<a href=\"/playlist?id=" + Math.floor(Math.random()*1000) + "\">" + playlistName + "</a>" +"\r\n\t\t\t<\/h>";

            for(i = 0; i < songArtArray.length; i++){
                var songIcon = document.createElement("img");
                songIcon.className = "songIcon";
                songIcon.src = "resources/images/album-art/" + songArtArray[i];
                newPlaylist.appendChild(songIcon);
            }

            newPlaylist.innerHTML += "\r\n\t\t\t\r\n\t\t\t<div class=\"playlist-info-box\">\r\n\t\t\t\t<div class=\"playlist-heartButton\"><\/div>\r\n\t\t\t\t<div class=\"playlist-likeCount\">\r\n\t\t\t\t" + numLikes + "\r\n\t\t\t\t<\/div>\r\n\t\t\t\t<div class=\"playlist-shareButton\">\r\n\t\t\t\tShare\r\n\t\t\t\t<\/div>\r\n\t\t\t<\/div>";
            document.getElementsByClassName("feed")[0].appendChild(newPlaylist);
        }

        function checkIfHeartClicked(e){
            if (window.event) {

                e = event.srcElement;
            }
            else {
                e = e.target;
            }

            if (e.className && e.className.indexOf("playlist-heartButton") != -1) {
                e.className = "playlist-heartButton-clicked";
            }
        }
    </script>
{% endblock %}