{% extends 'page.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block pagebody %}
    <a href="/playlist?id={{ playlist.id }}">
            <h2 class="glyphicon glyphicon-arrow-left" id="goback">{{ playlist.name }}</h2>
    </a>

    <span class="collaborators">
        <h3>Collaborators</h3>
        <table id="collaboratorTable">
            {% for c in collaborators %}
                <tr>
                    <td><a href="/profile?id={{ c.id }}">{{ c.username }}</a></td>
                    <td><button class="btn btn-circle btn-danger glyphicon glyphicon-remove-circle" onclick="removeCollaborator({{ c.id }}, this);"></button></td>
                </tr>
            {% endfor %}
        </table>

        <div style="margin-bottom: 10px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
            <div shorterbox style='display:block; float:left; width:90%; margin-right:8px;'>
                <input id="songURL" type="url" class="form-control" name="songURL" placeholder="Add Collaborator by Username / Email Address">
            </div>
            <button id="addSongButton" type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </span>
{% endblock %}