{% extends 'base.html.twig' %}



{% block title %}Beat Machine - Feed{% endblock %}



{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('resources/css/playlist.css') }}">
{% endblock %}



{% block body %}
    <div class="header">
        BEAT MACHINE
    </div>

    <div class="feed">
        <div class="playlist">
            <img class="album-art" src="{{ asset('resources/images/album-art/1.png') }}">
            <h class="playlist-title">
                <a href="/playlist">Chilled Vibes</a>
            </h>

            <img class="songIcon" src="{{ asset('resources/images/album-art/2.png') }}">
            <img class="songIcon" src="{{ asset('resources/images/album-art/3.jpg') }}">
            <img class="songIcon" src="{{ asset('resources/images/album-art/4.jpg') }}">
            <img class="songIcon" src="{{ asset('resources/images/album-art/12.jpg') }}">
            <img class="songIcon" src="{{ asset('resources/images/album-art/19.jpg') }}">

            <div class="playlist-info-box">
                <div class="playlist-heartButton"></div>
                <div class="playlist-likeCount">
                    67
                </div>
                <div class="playlist-shareButton">
                    Share
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        window.onload = function(){
            window.onscroll = appendNewPlaylist;
            appendNewPlaylist();
            document.body.onclick = checkIfHeartClicked;
        };


        function appendNewPlaylist(){
            if((window.innerHeight + window.scrollY) >= document.body.offsetHeight)
            {
                var albumArt = ["1.png", "2.png", "3.jpg", "4.jpg", "5.jpg", "6.jpg", "7.jpg", "8.png", "9.jpg", "10.jpg", "11.jpg", "12.jpg", "13.jpg", "14.png", "15.jpg", "16.jpg", "17.jpg", "18.jpg", "19.jpg", "20.jpg"];

                var verbList = ["Chilled", "Relaxed", "Hardcore", "Epic", "Silent", "Smooth", "Electric", "Rowdy", "Saucy", "Extreme", "Insane", "Evening", "Morning"];
                var nounList = ["Rock", "Jazz", "House", "Grime", "Songs", "Ballads", "Country", "Acoustic", "Acapella", "EDM", "Indie", "Bangers", "Hip Hop", "Disco", "Punk", "Death Metal", "Vibes"];

                var newPlaylist = document.createElement("div");
                newPlaylist.className = "playlist";
                var playlistName = verbList[Math.floor(Math.random()*verbList.length)] + " " + nounList[Math.floor(Math.random()*nounList.length)];
                var numLikes = Math.floor(Math.random()*120);
                var playListArt = albumArt[Math.floor(Math.random()*albumArt.length)];
                newPlaylist.innerHTML = "<img class=\"album-art\" src=\"resources\/images\/album-art\/" + playListArt + "\">\r\n\t\t\t<h class=\"playlist-title\">\r\n\t\t\t" + "<a href=\"/playlist\">" + playlistName + "</a>" +"\r\n\t\t\t<\/h>";

                var r = Math.round(Math.random()*4)+2;

                for(i = 0; i < r; i++){
                    var songIcon = document.createElement("img");
                    songIcon.className = "songIcon";
                    songIcon.src = "resources/images/album-art/" + albumArt[Math.floor(Math.random()*albumArt.length)];
                    newPlaylist.appendChild(songIcon);
                }

                newPlaylist.innerHTML += "\r\n\t\t\t\r\n\t\t\t<div class=\"playlist-info-box\">\r\n\t\t\t\t<div class=\"playlist-heartButton\"><\/div>\r\n\t\t\t\t<div class=\"playlist-likeCount\">\r\n\t\t\t\t" + numLikes + "\r\n\t\t\t\t<\/div>\r\n\t\t\t\t<div class=\"playlist-shareButton\">\r\n\t\t\t\tShare\r\n\t\t\t\t<\/div>\r\n\t\t\t<\/div>";
                document.getElementsByClassName("feed")[0].appendChild(newPlaylist);

                appendNewPlaylist();
            }
        }

        function checkIfHeartClicked(e){
            if (window.event) {

                e = event.srcElement;
            }
            else {
                e = e.target;
            }

            if (e.className && e.className.indexOf("playlist-heartButton") != -1) {
                e.className = "playlist-heartButton-clicked";
            }
        };
    </script>
{% endblock %}