{% extends 'page.html.twig' %}

{% block title %}Beat Machine - {{ user.username }}{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: #eeeeee;
        }
        .profileOuterBlock{
            width:50%;
            /*max-width: 800px;*/
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 55px;
            background-color: #fefefe;
            position: relative;
            padding: 30px;
        }
        .profileInnerBlock{
            width: 60%;
            min-width: 500px;
            margin: 0 auto;
        }
        .profileHeader{
            height: 150px;
            position: relative;
            margin-bottom: 20px;
        }
        .profilePicture{
            height: 100%;
            position: relative;
            float: left;
            margin-right: 7%;
        }
        .profileName{
            position: relative;
            margin-top: 10px;
            margin-bottom: 20px;

            font-family: 'Lato', sans-serif;
            font-size: 20pt;
            font-weight: 900;
            color: #2f364a;
        }
        .profileInfo{
            position: relative;
            margin-top: 12px;

            font-family: 'Lato', sans-serif;
            font-size: 15pt;
            color: #8f8f92;
        }
        .counter{
            margin-right: 9px;

            font-family: 'Lato', sans-serif;
            font-weight: 900;
            color: #ff5500;
        }
        .playlistCollection{

            margin-top: 40px;

        }
        .playlistCollectionTitle{
            text-align: center;
            margin: 10px;
            font-family: 'Lato', sans-serif;
            font-size: 17pt;
            font-weight: 900;
            color: #5e5e61;
        }
        .settings{

            margin-top: 10px;

        }
        .settingsTitle{
            text-align: center;
            margin: 40px;

            font-family: 'Lato', sans-serif;
            font-size: 17pt;
            font-weight: 900;
            color: #5e5e61;
        }



    </style>
{% endblock %}

{% block pagebody %}

    {% set count = 0 %}
    {% for playlist in playlists %}
        {% set count = count + playlist.votes %}
    {% endfor %}

    <div class="profileInnerBlock">
        <div class="profileHeader">
            <img class="profilePicture" src="{{ asset('resources/images/default-avatar.png') }}">
            <div class="profileName">{{ user.username|title }}</div>
            <div class="profileInfo"><span class="counter">{{ playlists|length }}</span>Playlists Created</div>
            <div class="profileInfo"><span class="counter">{{ count }}</span>Votes on their Playlists</div>
        </div>



        <div class="playlistCollection">

            <div class="playlistCollectionTitle" style="padding-bottom: 20px;">{{ user.username|title }}'s Playlists</div>

            {% for playlist in playlists %}
                {% set location = "Bath, UK" %}
                {% set a = loop.index0%}
                {% set numberSongsToShow = 4 %}
                {% set showScore = false %}
                {% include 'playlistCard.html.twig' %}
            {% endfor %}
            </div>
        </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if app.user.id == user.id %}
            <div class="settingsPlaylistCollection" style="margin-top: 50px; background-color: #fefefe;">
                <div class="settings" >
                    <div class="settingsTitle">Settings</div>
                    <form class="form-inline text-center">
                        <div class="form-group">
                            <label for="Email">Change Email</label>
                            <input type="email" class="form-control" placeholder="Enter your new email here">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
                <br>
                <div class="text-center">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary">Change Password</a>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% include 'feedScripts.js.twig' %}
{% endblock %}