{% extends 'page.html.twig' %}

{% block title %}Beat Machine - {{ playlistName }}{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: #eeeeee;
        }
        .playlistHeader{
            height: 130px;
            position: relative;
            margin-bottom: 20px;
        }
        .playlistArt{
            height: 100%;
            position: relative;
            float: left;
        }
        .playlistTitle{
            position: relative;
            left: 10px;

            font-family: 'Lato', sans-serif;
            font-size: 20pt;
            font-weight: 900;
            color: #2f364a;
        }
        .playlistAuthor{
            position: relative;
            left: 10px;
            margin-top: 2px;

            font-family: 'Lato', sans-serif;
            font-size: 13pt;
            color: #8f8f92;
        }
        .playlistAuthor a{
            font-family: 'Lato', sans-serif;
            font-size: 13pt;
            color: #8f8f92;

            outline:none;
            text-decoration:none;
        }
        .songsTable{
            width: 100%;
            font-family: 'Lato', sans-serif;
            color: #57575a;
            border-collapse: collapse;
            margin-bottom: 10px;
        }
        .songsTable tr {
            border-bottom: 1px solid black;
            border-color: #b4b4b7;
        }
        .songsTable th{
            text-align: left;
            padding-bottom: 6px;
        }
        .songsTable td{
            padding-top: 9px;
            padding-bottom: 9px;
        }
        .songsTable #playing{
            font-weight: bold;
            color: #2f364a;
        }

    </style>
{% endblock %}

{% block pagebody %}
        <div class="playlistHeader">
            <img class="playlistArt" src="{{ playlistArt }}">
            <div class="playlistTitle">{{ playlistName }}</div>
            <div class="playlistAuthor"><a href="/profile?id={{ authorID}}">Created by {{ playlistAuthor}}</a></div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == authorID %}
                <div class="editbutton"><a href="/playlist/manage?id={{ playlistID }}">Edit this playlist</a></div>
            {% endif %}
        </div>

        <table class="songsTable">

            <thead>
                <tr>
                    <th>Length</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                </tr>
            </thead>

            <tbody>
                {% for song in songs %}
                    {% set a = loop.index0%}
                    <div>
                    <tr>
                        <td>
                            {{ song.length }}
                        </td>
                        <td onclick="
                                playNewSong('{{ song.name }}', '{{ song.musicLink }}');
                                {% for i in songs %}
                                    {% set b = loop.index0%}
                                    {% if b > a %}
                                        addSongToPlaylist('{{ songs[b].name }}', '{{ songs[b].musicLink }}')
                                    {% endif %}
                                {% endfor %}
                                ">
                            {{ song.name }}
                        </td>
                        <td>
                            {{ song.artist }}
                        </td>
                    </tr>
                    </div>
                {% endfor %}

                <tr id="playing">
                    <td>
                        2:31
                    </td>
                    <td>
                        Currently playing song template
                    </td>
                    <td>
                        Artist
                    </td>
                </tr>

            </tbody>

        </table>
{% endblock %}