{% extends 'page.html.twig' %}

{% block title %}Beat Machine - {{ user.username }}{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: #eeeeee;
        }
        .profileOuterBlock{
            width:50%;
            /*max-width: 800px;*/
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 55px;
            background-color: #fefefe;
            position: relative;
            padding: 30px;
        }
        .profileInnerBlock{
            width: 60%;
            min-width: 500px;
            margin: 0 auto;
        }
        .profileHeader{
            height: 150px;
            position: relative;
            margin-bottom: 20px;
        }
        .profilePicture{
            height: 100%;
            position: relative;
            float: left;
            margin-right: 7%;
        }
        .profileName{
            position: relative;
            margin-top: 10px;
            margin-bottom: 20px;

            font-family: 'Lato', sans-serif;
            font-size: 20pt;
            font-weight: 900;
            color: #2f364a;
        }
        .profileInfo{
            position: relative;
            margin-top: 12px;

            font-family: 'Lato', sans-serif;
            font-size: 15pt;
            color: #8f8f92;
        }
        .counter{
            margin-right: 9px;

            font-family: 'Lato', sans-serif;
            font-weight: 900;
            color: #ff5500;
        }
        .playlistCollection{

            margin-top: 40px;

        }
        .playlistCollectionTitle{
            text-align: center;
            margin: 10px;
            font-family: 'Lato', sans-serif;
            font-size: 17pt;
            font-weight: 900;
            color: #5e5e61;
        }
        .settings{

            margin-top: 10px;

        }
        .settingsTitle{
            text-align: center;
            margin: 40px;

            font-family: 'Lato', sans-serif;
            font-size: 17pt;
            font-weight: 900;
            color: #5e5e61;
        }
    </style>
{% endblock %}

{% block pagebody %}

    {% set count = 0 %}
    {% for playlist in playlists %}
        {% set count = count + playlist.votes %}
    {% endfor %}

    <div class="profileInnerBlock">
        <div class="profileHeader">
            <img class="profilePicture" src="{{ asset('resources/images/default-avatar.png') }}">
            <div class="profileName">{{ user.username }}</div>
            <div class="profileInfo"><span class="counter">{{ playlists|length }}</span>Playlists Created</div>
            <div class="profileInfo"><span class="counter">{{ count }}</span>Votes on their Playlists</div>
            <div class="profileInfo"><span class="counter">18</span>Shares on their Playlists</div>

            <a href="{{ path('fos_user_change_password') }}">Back to Log in</a>
        </div>

     <div class="settingsPlaylistCollection" >

         <div class="settings">

             <div class="settingsTitle">Settings</div>

             <div style="margin-bottom: 25px" class="input-group">

                 <input id="change-username" type="text" class="form-control" name="email" value="" placeholder="change email">

                 <form action="www.google.com">
                     <input type="submit" value="Update" />
                 </form>

             </div>

             <!-- <a href="{{ path('fos_user_change_password') }}">Back to Log in</a>
             -->
             <div style="margin-bottom: 25px" class="input-group">
                 <form action="{{ path('fos_user_change_password') }}">
                     <input type="submit" value="Change Password" />
                 </form>
             </div>

         </div>


        <div class="playlistCollection">

            <div class="playlistCollectionTitle">Users Playlists:</div>

            {% for playlist in playlists %}
            <div class="playlist">
                <img class="album-art" src="{{ playlist.artLink }}">
                <h class="playlist-title">
                    <a href="/playlist?id={{ playlist.id }}">{{ playlist.name }}</a>
                </h>

                {% set a = loop.index0%}
                {% for url in songLinks[a] %}
                    <img class="songIcon" src="{{ url }}">
                {%  endfor %}

                <div class="playlist-info-box">
                    <div class="playlist-heartButton"></div>
                    <div class="playlist-likeCount">
                        {{ playlist.votes }}
                    </div>
                    <div class="playlist-shareButton">
                        Share
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}